@page
@model QuickMock.Views.Request.Index

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <title></title>
</head>
<body>
<div>
    <section class="section">
        <div class="container">
            <h1 class="title">Hello, Bulma!</h1>
            <button class="button is-primary">Кнопка</button>
        </div>
    </section>
</div>
</body>
</html>